
h1
{
	font-family: arial, helvetica, sans-serif;
	color: maroon;
}

.background-pink
{
	background: pink;
}

/*
#selectorId
{

}
*/
.article
{

}
	.article__header
	{
		font-family: arial, helvetica, sans-serif;
		color: green;
	}

	.article__footer
	{
		
	}

li[data-RobotOwner="Koji Kabuto"]
{
	background-color: olive;
	color: white;
}

li[data-RobotOwner="Sayaka Yumi"]
{
	background-color: brown;
	color: white;
}

input[type="email"]:valid
{
	background-color: peru;
}

input[type="email"]:focus:invalid
{
	background-color: red;
}

/*
.toogle:checked ~ .checked
{
	background-color: olive;
}
.checked
{
	height: 100px;
	width: 100px;
	background-color: peru;
}
*/
.toogle:checked + .checked
{
	background-color: olive;
}
.checked
{
	height: 100px;
	width: 100px;
	background-color: peru;
}