html
{
	font-family: sans-serif;
	font-size: 110%;
}

body
{
	padding: 0;
	margin: 0;
}

.main-header
{
	text-align: center;
	background-color: #12210B;
	color: white;
	padding: 2em;
}
	.main-header h1 
	{
		margin: 0;
	}

	.main-header h2
	{
		font-size: 1rem;
		font-weight: normal;
	}

@media all and (max-width: 400px){
	html
	{
		font-size: 80%;
	}

	.main-header
	{
		background-color: olive;
	}
}

.card
{
	height: 30vh;
	width: 100%;
	background-image:url(https://www.medellin.gov.co/irj/go/km/docs/wpccontent/Sites/Portal%20Ciudad%20de%20Medell%C3%ADn/Galer%C3%ADas%20de%20Im%C3%A1genes/Galer%C3%ADas/Programas%20Bandera/big/DSC02854.JPG);
	background-size: cover;
	color: red;
}